.banner-container{
    background-image: url('../../../images/bannerbackground.png');
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: cover;;
    
}
.banner-title{
    font-weight: 500;
    font-size: 2.9rem;
}
.search-field{
    padding:10px 130px 10px 30px;
    border:1px solid  #d72631;
    border-radius: 30px;
    outline: #d72631;
    overflow: hidden;

}
.search-field:focus{
    color:#d72631;
    border: 1px solid white;
    transition: border .3s ease-in-out;
}

.search-button{
    padding:10px 30px;
    border-radius: 20px;
    position:relative;
    left: -33px;
    border-radius: 25px;
    border:1px solid  #d72631;
    border-radius: 20px;
    background-color:  #d72631;
    color: white;
}
.search-button:hover{
    background-color: white;
    color: #d72631;
    transition: all .2s ease-in-out;
}
